.header {
    height: 70px;
    width: 100%;
    /* background-color: rgba(255, 228, 196, .5); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: all .5s;
}

.header-scroll {
    background-color: white;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}