.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
}

.header-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;  /* ToDo: count 10% as (100%-containerWidth)/2 */
    transition: all .5s;
}  

.header-scroll .header-container {
    background-color: white;
    transition: all .5s;
}
