.processSection {
    background-color: #150C0A; /* ToDo: const */
}

.processSection-container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;  /* ToDo: count 10% as (100%-containerWidth)/2 */
}  